{# Extract Card Template #}

<div class="card border-success mb-2 extract-card" id="extract-card-{{ extract.id }}">
    <div class="card-header">
        <p class="card-text">
            <i class="fa fa-calendar"></i> {{ extract.created_at.strftime("%a %d %b %Y") }}
            <a class="badge badge-warning float-right"
               href=""
               id="dismiss-button-{{ extract.id }}">
                    d
            </a>
        </p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Extract #{{ extract.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ extract.topic.title }}</h6>
        <img class="card-img mb-2" src="{{ extract.topic.thumbnail_url }}">
        <div class="progress mb-2" style="height: 10px;">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{ (extract.startstamp / extract.topic.duration) * 100 }}%;">
            </div>
            <div class="progress-bar bg-warning"
                 role="progressbar"
                 style="width: {{ ((extract.endstamp - extract.startstamp) / extract.topic.duration) * 100 }}%;">
            </div>
            <div class="progress-bar"
                 role="progressbar"
                 style="width: {{ ((extract.topic.cur_timestamp - extract.endstamp) / extract.topic.duration) * 100 }}%;">
            </div>
        </div>
        <div class="progress mb-2" style="height: 7x;">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 0%;"
                 id="extract-timebar-{{ extract.id }}">
            </div>
        </div>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="extract-seek-backward">
                <i class="fa fa-backward"></i>
            </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="extract-toggle">
                <i class="fa fa-play-circle"></i> / <i class="fa fa-pause"></i>
            </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="extract-seek-forward">
                <i class="fa fa-forward"></i>
            </button>
        </span>
    </div>
    <div class="card-footer">
        <span>
                <a class="badge badge-primary"
                      role="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ extract.id }}"
                      id="topic-button-{{ extract.id }}">
                    <i class="fa fa-file-video-o"></i> Topic
                </a>
        </span>
        <span>
                <a class="badge badge-primary"
                      role="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ extract.id }}"
                      id="items-button-{{ extract.id }}">
                    <i class="fa fa-file-video-o"></i> Items
                </a>
        </span>
        <span>
            <a class="badge badge-primary"
                    role="button"
                    id="load-video-button-{{ extract.id }}">
                <i class="fa fa-youtube-play"></i> Load Video
            </a>
        </span>
        <div class="collapse" id="collapse-{{ extract.id }}">
            <div class="card card-body" id="collapse-content-{{ extract.id }}"></div>
        </div>
    </div>
</div>
