{# Item Card Template #}


<div class="card border-primary mb-2 item-card" id="item-card-{{ item.id }}">
    <div class="card-header">
        <p class="card-text">
            <i class="fa fa-calendar"></i> {{ item.created_at.strftime("%a %d %b %Y") }}
            <a class="badge badge-warning float-right"
               href=""
               id="dismiss-button-{{ item.id }}">
                    d
            </a>
        </p>
    </div>
    <div class="card-body">
        <h6 class="card-title">Item #{{ item.id }}</h6>
        <p class="card-text">filepath: {{ item.question_filepath }}</p>

        <div class="progress mb-2" style="height: 10px;">
            <div class="progress-bar bg-warning"
                 role="progressbar"
                 style="width: {{ (item.cloze_startstamp/(item.extract.endstamp - item.extract.startstamp)) * 100 }}%;">
            </div>
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: {{ (item.cloze_endstamp - item.cloze_startstamp)/(item.extract.endstamp - item.extract.startstamp) * 100 }}%;">
            </div>
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: {{ (item.extract.endstamp - item.cloze_endstamp)/(item.extract.endstamp - item.extract.startstamp) * 100 }}%;">
            </div>
        </div>

        <div class="progress mb-2" style="height: 10px;">
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: 0%;"
                 id="item-timebar-{{ item.id }}">
            </div>
        </div>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="item-seek-backward">
                <i class="fa fa-backward"></i>
            </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="item-play">
                <i class="fa fa-pause"></i> / <i class="fa fa-circle-play"></i>
            </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm mb-2"
                    id="item-seek-forward">
                <i class="fa fa-forward"></i>
            </button>
        </span>
    </div>
    <div class="card-footer">
        <span>
                <button class="btn btn-primary btn-sm"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ item.id }}"
                      id="extract-button-{{ item.id }}">
                    <i class="fa fa-file-video-o"></i> Extract
                </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm"
                    type="button"
                    id="load-video-button-{{ item.id }}">
                <i class="fa fa-youtube-play"></i> Load Video
            </button>
        </span>
        <div class="collapse" id="collapse-{{ item.id }}">
            <div class="card card-body" id="collapse-content-{{ item.id }}"></div>
        </div>
    </div>
</div>
