{# Topic Template #}

<div class="card border-primary mb-2 topic-card" id="topic-card-{{ topic.id }}">
    <div class="card-header">
        <p class="card-text">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ topic.created_at.strftime("%a %d %b %Y") }}
        <a class="badge badge-danger float-right"
           href="#" 
           id="archive-button-{{ topic.id }}">
                a
        </a>
        </p>
    </div>
    <div class="card-body">
        <h6 class="card-title">{{ topic.title }}</h6>
        {# TODO change max-width #}
        <img class="card-img mb-2" src="{{ topic.thumbnail_url }}">
        <div class="progress mb-2" id="progressbar" style="height: 10px;">
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: {{ topic.cur_timestamp }}%;">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span>
                <button class="btn btn-primary btn-sm"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ topic.id }}"
                      id="tags-button-{{ topic.id }}">
                    <i class="fa fa-file-video-o"></i> Extracts
                </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse-{{ topic.id }}"
                    id="extracts-button-{{ topic.id }}">
                <i class="fa fa-tags"></i> Tags
            </button>
        </span>
        <span>
            <button class="btn btn-primary btn-sm"
                    type="button"
                    id="load-video-button-{{ topic.id }}">
                <i class="fa fa-youtube-play"></i> Load Video
            </button>
        </span>
        <div class="collapse" id="collapse-{{ topic.id }}">
            <div class="card card-body" id="collapse-content-{{ topic.id }}"></div>
        </div>
    </div>
</div>
