{# Topic Template #}

<div class="card border-primary mb-2 topic-card" id="topic-card-{{ topic.id }}">
    <div class="card-header">
        <p class="card-text">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ topic.created_at.strftime("%a %d %b %Y") }}
        </p>
        {# TODO add archive button #}
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ topic.title }}</h5>
        {# TODO change max-width #}
        <div class="card-img" src="{{ topic.thumbnail_url }}">

        {# timebar showing where you are in the vid, height 2px #}
        <div class="progress" style="height: 2px;">
            <div class="progress-bar bg-danger"
                 role="progressbar"
                 style="width: 0%;"
                 id="timebar">
            </div>
        </div>

        <div class="progress mb-2" id="progressbar" style="height: 10px;">
        {# stacked progress bars added here #}
        </div>
    </div>
    <div class="card-footer">
        <span>
                <button class="btn btn-primary"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse"
                      id="tags-button">
                    <i class="fa fa-file-video-o"></i> Extracts
                </button>
        </span>
        <span>
            <button class="btn btn-primary"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse"
                    id="extracts-button">
                <i class="fa fa-tags"></i> Tags
            </button>
        </span>
        <span>
            <button class="btn btn-primary"
                    type="button"
                    id="load-video-button">
                <i class="fa fa-youtube-play"></i> Load Video
            </button>
        </span>
        <div class="collapse" id="collapse">
            <div class="card card-body" id="collapse-content"></div>
        </div>
    </div>
</div>
